.body-header{
    background-image: url('./images/macbook_mouse.jpg');
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

a{
    text-decoration: none;
}

/*About*/
.about-image{
    margin-top: -15vh;
    margin-left: 45%;
}

.about-image img{
    width: 12rem;
    height: 13rem;
    border-radius: 50%;
    border:5px solid rgb(192, 192, 192,0.5) ;
    box-shadow: 0 0 4px 4px white;
}