.body-header{
    background-image: url('./images/macbook_mouse.jpg');
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 1.2rem;
    opacity: 0.75;
}

a{
    text-decoration: none;
}

.mt20{
    margin-top: 20%;
}

/*About*/
.about-image{
    margin-top: -15vh;
    margin-left: 45%;
}

.about-image img{
    width: 12rem;
    height: 13rem;
    border-radius: 50%;
    border:5px solid rgb(192, 192, 192,0.5) ;
    box-shadow: 0 0 4px 4px white;
    border:5px solid rgb(192, 192, 192,0.5) ;

}

.educationTitle span{
    font-size: 35px;
}

.educationName img{
    width: 150px;
    height: 150px;
}

.educationName:nth-child(odd){
    justify-content: end;
    margin-right: 10rem;
}
.educationName:nth-child(even){
    justify-content: start;
    margin-left: 10rem;
}

#portfolio-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}


.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}

.login-component{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,100,213,1) 29%, rgba(0,212,255,1) 63%);
}

/* .login-form{
    border: 1px solid white;
} */

.login-input{
    border: 1px solid rgb(40, 87, 164);
    padding: 0.01rem 1rem 0.01rem 2rem;
    background-color: rgb(211, 211, 211,0.15);
}
.login-input:focus{
    outline: none;
    background-color: white;
}

